<header>
    <img id="logo" alt="" src="/sydfjords-angular/images/icons/Sydfjords_Logo_1.png">
    <nav class="topnav">
        <a routerLink="">Home</a>
        <div class="dropdown">
            <button class="dropbtn" onClick="openSubMenu('attractionMenu')">See and Do</button>
            <div class="dropdown-content" id="attractionMenu">
                <a routerLink="cowldvatn">Cowldvatn</a>
                <a routerLink="loremvik">Loremvik</a>
                <a routerLink="ipsumvatn">Ipsumvatn</a>
                <a routerLink="whales">Whale-Watching</a>
            </div>
        </div>
        <a routerLink="hotels">Stay</a>
        <a routerLink="travel">Get Here</a>
        <a routerLink="about">About</a>
        <a class="icon" (click)="openMenu()">&#9776;</a>
    </nav>
</header>