/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    min-width: 320px;
    background-color: #f2f2f2;
}


main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    
    font-size: 1.1rem;
    max-width: 1440px;
}


header {
    position: fixed;
    z-index: 2;
    background-color: #1a2456;
    width: 100%;
}