<img id="hero"
    srcset="/sydfjords-angular/imageshero-320w.webp 320w, /sydfjords-angular/imageshero-480w.webp 480w, /sydfjords-angular/imageshero-800w.webp 800w, /sydfjords-angular/imageshero-1080w.webp 1080w, /sydfjords-angular/imageshero-1366w.webp 1366w"
    sizes="(max-width: 400px) 320px, (max-width: 600px) 480px, (max-width: 1000px) 800px, (max-width: 1366px) 1080px, (max-width: 1440px) 1366px"
    src="/sydfjords-angular/imageshero-480w.webp" alt="Snowy mountains above a lake in a wild setting">
<h1>Welcome to a land steeped in magic</h1>
<app-gallery [images]="gallery">
    
</app-gallery>